

/* @media only screen and (max-width: 768px)
{
    
    .header-button
    {
        display: none;
    }
    .list-header
    {
        display: none;
    }
    
}
@media only screen and (max-width: 990px)
{
    .list-header
    {
        display: none;
    }
}*/
@media only screen and (min-width: 1200px)
{
    html
{
    overflow-x: hidden;
    color: white;   
    font-family: "Open Sans",sans-serif;
}
html div img
{
    width: 100%;
    height: auto;
}
body, div
{
    margin: 0px;
    color: white;
}
body ul
{
    list-style-type: none;
    display: inline-flex;
}
body button
{
    color: white;
}
.banner-sponsor, .banner-amazing img
{
    width: 100%;
    height: 100%;
}
.banner
{
    position: relative;
    z-index: -2;
    
}
.sponsor div img
{
    width: 100%;
}
.banner-sponsor, .banner-amazing
{
    position: relative;   
}
.banner1
{
    position: relative;

}
.banner1-img, .banner2-img
{
    position: relative;
    z-index: 0;
    scale: 150% 150%;
    translate: -1% 23%;
}
.banner1-shape, .banner2-shape
{
    position: absolute;
    z-index: 1;  
}
.banner1-shape
{
    width: 100%;
    top: 78.5%;
}
.banner2-shape
{
   translate: 0px -27%;
}
.sponsor
{
    display: inline-flex;
    position: relative;
    color: #bdb9f0;
    background-color:#202342;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 6% 0;
    top: 25vw;
    z-index: 2;
}
.banner2-img
{
  position: relative;
  top: 22vw;
}
.banner2-shape{
    position: relative;
    width: 140vw;
    bottom: 30vw;
    right: 25vw;
}
.gear-icon
{
    display: flex;
    background: white;
    box-sizing: border-box;
    width: 4vw;
    height: 4vw;   
}
.banner-content
{
    position: absolute;
    top: 0%;
    z-index: 2;
}
@keyframes dot1move
{
    100% {translate: -100vw;}
}
.dot1
{
    translate: 70vw 6vw;
    position: absolute;
    animation-name: dot1move;
    animation-duration: 80s;
    animation-iteration-count: infinite;

}

.dropdown
{
    display: block;
    position: relative;
}
.dropdown div
{
    width: 200%;
}
.dropdown-content
{
    display: none;
    position: absolute;
    width: 200%;
}
.dropdown:hover .dropdown-content
{
    display: block;
}
.header 
{
    display: inline-flex;
    position:fixed;
    width: 100vw;
    justify-content: space-between;
    margin: 30px 60px;
    font-size: 1.18rem;
    font-weight: 500;
    box-sizing: border-box;
    z-index: 999;
}

.list-header ul li
{
    display: flex;
    margin-right: 10%;
}
.end-list
{
    display: inline-flex;
    font-size: 0.8em;
    text-transform: uppercase;
    
}

.header-button button
{
    width: fit-content;
    height:auto;
    font-weight: 550;
    font-size: 1em;
    padding: 20px 40px;
    border-radius: 60px;
    border: 0.5px solid #665cb2;
    background: rgba(0,0,0,0);
    text-transform:uppercase;
    margin-right: 120px;
}
.header-right
{
    display: flex;
    align-items: flex-start;
}
.header-right div
{
    margin: 0px 10px;
}
.first-body
{
    display: inline-flex;   
    color:black;
    z-index: 1;
    
}
.title
{
    display: flexbox;
    box-sizing: border-box;
    width: 90vw;
    height: auto;
    font-family: "Josefin Sans", sans-serif;
    margin: 25% 7%;
}
.title h1
{
    font-size: 4.3em;
    letter-spacing: 2px;
    width: 50%;
    height: 100%;
}
.title-content
{
    font-size: 1.5em;
    color:rgba(255,255,255,.9);
    width: 40vw;
    margin-bottom: 5%;
}

.title-button button
{
    display: flexbox;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    width:fit-content;  
    padding: 2% 2%;
    border: solid 0px;
    border-radius: 60px;
    justify-content: flex-start;
    margin-right: 3%;
    
}
.title button:first-child
{
    background-image: linear-gradient(to right,#FF84FF,#5059F1);
}
.title button:last-child
{
    border: 0.5px solid #665cb2;
    background: rgba(0,0,0,0);
}
.click
{
    display:flex;
    position:absolute;
    rotate: 90deg;
    right: 36%;
    top: 35%;
    align-items: center;
}
.click div
{
    margin: 10px;
    font-size: 110%;
    font-weight: 300;   
}
.phone
{
    position: absolute;
    width: 65%;
    right: 1%;
    left: 57%;   
    top: 23%;
    z-index: 3;
}
.narrow
{
    position: absolute;
    right: 30%;
    top: 35%;
}
.second-body
{
    position:relative;
    bottom: 20vw;
}
.sb-content, .sb-content2
{

    position:absolute;
    width: 43vw;
    bottom: 80vw;
    z-index: 2;
    left: 6%;
}
.sb-content2, .sb-content h3
{
    color: #ff8a00;
}
.sb-content, .sb-content2 h1
{
    color: white;
    font-size: 3.5em;
    z-index: 2;
}
.sb-content, .sb-content2 p
{
    color: #bdb9f0;
    font-size: 1.2em;
}
.video
{
    position:absolute;
    width: 65%;
    left: 50%;
    bottom: 35vw;
    z-index: 2;
}
.sb-content2
{
    position:relative;
    bottom: 40vw;
}
.feature
{
    width: 100vw;
    display: inline-flex;
    justify-content: center;
}
.feature div
{
    position:relative;
    bottom: 40vw;
    width: 10%;
    height: auto;
    background-color: rgb(49, 55, 125);
    padding: 2% 2%;
    margin: 1%;
    border-radius: 20px;
    
}
.how-content
{
    position:relative;
    color: red;
    bottom: 35vw;
    text-align: center;
}
.how-item
{
    display: inline-flex;
    width: 100vw;
    position:relative;
    bottom: 60vw;
    background-color: #202342;
    z-index: -1;
    justify-content: space-evenly;
    padding: 35% 3%;
    
}
.how1, .how2, .how3 
{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.how1, .how2, .how3, img
{
    width: 20%;
}
}  

